﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ObtenedorImagenesPorTablero.aspx.cs" Inherits="Track_Web.ObtenedorImagenesPorTablero" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script type="text/javascript" src="Scripts/jquery-3.3.1.js"></script>
    <script src="Scripts/Plugins/jquery.cookie.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
